<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form">
                            <h3 class="text-center text-info">Please check your email for a verificaton link to verify your account.</h3>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>