<div class="jumbotron">
  <h1 *ngIf="checkIsLoggedIN()">Hello, {{user.displayName}}</h1>
  <p class="lead"  *ngIf="!checkIsLoggedIN()">Please login to get more detailed information or to make new news.</p>
  <hr class="my-4">
  <p>You can view the gallary, check news and check fixtures.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" (click)="btnClick()" role="button">Check News</a>
  </p>
</div>

<section class="">
  <div class="container-fluid">
    <h1>Local League Standings - Live</h1>
    <table class="table-striped w-100 table-bordered">
      <thead>
      <tr>
        <th scop="col"> ID </th>
        <th scope="col"> Position </th>
        <th scope="col"> Name </th>
        <th scope="col"> Played </th>
        <th scope="col"> Wins </th>
        <th scope="col"> Draws </th>
        <th scope="col"> Losses </th>
        <th scope="col"> Points </th>
        <th scope="col"> GD </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Table of pointsList; index as i" >
        <th scope="row">{{Table.id}}</th>
        <td>{{Table.pos}}</td>
        <td>{{Table.name}}</td>
        <td>{{Table.played}}</td>
        <td>{{Table.wins}}</td>
        <td>{{Table.draw}}</td>
        <td>{{Table.loss}}</td>
        <td>{{Table.points}}</td>
        <td>{{Table.gd}}</td>
               
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="interactiveMenu py-1">
  <div id="container-fluid">
    <ol id="interactiveMenuList">
      <li>
        <button class="btn"><i class="fa fa-home"></i> Home</button>
      </li>
    </ol>
  </div>
</section>
