<div class="jumbotron jumbo-style">
    <h1 class="display-4" *ngIf="checkIsLoggedIN() && authService.userData as user">Hello, {{user.displayName}}</h1>
    <p class="lead" *ngIf="!checkIsLoggedIN()">Please login to get more detailed information or to make new news.</p>
    <hr class="my-4">
    <p>Click the button before to get the latest news story from the GAA Club.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Latest News</a>
    </p>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 mx-auto mt-3">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="../../../assets/hp1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mx-auto mt-3">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="../../../assets/hp3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-3 mx-auto mt-3">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="../../../assets/hp2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>




