body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, blue, cyan);
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .gaa-img{
    height: 75px;
    width: 75px;
    background-color: blue;
    border-radius: 40%;
    
  }

  .gaa-logo{
    justify-content: center;
    display: flex;
  }

.text-right{
    padding-left: 275px;
}